@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Londrina+Solid:wght@100;300;400;900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

body {
  background: #f3efe6 !important;
}

.londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 50px;
  font-weight: 500;
  line-height: 58.59px;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

.product-card:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #aa071c;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.bg-image-zoom-drinks {
  position: relative;
  overflow: hidden;
}

.bg-image-zoom-drinks::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/images/banner-6.jpg"); /* Adjust the path as necessary */
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.bg-image-zoom-drinks:hover::before {
  transform: scale(1.05);
}
.bg-image-zoom-pizza {
  position: relative;
  overflow: hidden;
}

.bg-image-zoom-pizza::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/images/banner-7.jpg"); /* Adjust the path as necessary */
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.bg-image-zoom-pizza:hover::before {
  transform: scale(1.05);
}

.bg-image-zoom-food {
  position: relative;
  overflow: hidden;
}

.bg-image-zoom-food::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/images/banner-8.jpg"); /* Adjust the path as necessary */
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.bg-image-zoom-food:hover::before {
  transform: scale(1.05);
}
