@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: #f5f3ec !important;
}

h2 {
  font-size: 50px;
  font-weight: 500;
  line-height: 58.59px;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

.product-card:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

/* css */
/* .primary li {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  list-style: none !important;
  margin: 0 auto;
}

.primary .tag-item {
  color: #000000;
  margin-right: 1.25rem;
}

.primary .tag-item:hover {
  --tw-text-opacity: 1 !important;
  color: rgb(210, 79, 79) !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 300ms;
}

.secondary {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  list-style: none !important;
}

.secondary .tag-item {
  color: #000000;
}

.secondary .tag-item:hover {
  --tw-text-opacity: 1 !important;
  color: rgb(210, 79, 79) !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 300ms;
} */
